## Week04.1 In-Class Team Activity
Tuesday April 25th, 2023 - upload PDF with photograph (either rendered or a separate file) Due by 11:59pm

If you missed class â€“ no credit for this in-class activity, instead, I drop two unexcused absences from the Monday/Wednesday activities before deductions begin.

- **Please identify your team & the names of your teammates.** 

- **Please insert a team photo somewhere in this notebook.  If you cannot get the to render correctly to PDF please upload a separate file of the photo**

- **Please make certain that all of your teammates agree upon and understand the team answers. Thank you.**

1. Recall wordle_sample.txt from a previous lecture:

In [1]:
with open('wordle_sample.txt', 'r') as f:
    wordle_sample = f.read()

Using list comprehension, can you separate each word into its individual letters and remove the spaces at the same time to obtain a result like:

In [2]:
# please put your one line here:

wordle_letters[0:15]

['m', 'i', 'n', 'e', 'r', 's', 'a', 'l', 't', 'y', 'b', 'e', 'a', 'r', 'd']

2. Here we have several data objects:

In [3]:
one = range(1, 51)
two = [
    'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
    'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD',
    'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ',
    'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC',
    'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'
]
three = (
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut",
    "Delaware", "Florida", "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", 
    "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota", 
    "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", 
    "New Mexico", "New York", "North Carolina", "North Dakota", "Ohio", "Oklahoma", "Oregon", 
    "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas", 
    "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming"
)
four = [
    4903185, 731545, 7278717, 3017804, 39538223, 5773714, 3605944, 989948,
    21538187, 10711908, 1455271, 1839106, 12812508, 6785528, 3190369, 2913314,
    4467673, 4657757, 1362359, 6177224, 7029917, 10077331, 5706494, 2961279,
    6154913, 1084225, 1961504, 3104614, 1377529, 9288994, 2117522, 20201249,
    10439388, 779094, 11693217, 3963516, 4237256, 13002700, 1097379, 5170722,
    886667, 6910840, 29145505, 3271616, 643077, 8631393, 7693612, 1793716,
    5893718, 576851
]

Given what you have learned so far, please combine the four objects into a single object with a result like the following:

In [4]:
# please put your one line here:

combined[:5]

[(1, 'AL', 'Alabama', 4903185),
 (2, 'AK', 'Alaska', 731545),
 (3, 'AZ', 'Arizona', 7278717),
 (4, 'AR', 'Arkansas', 3017804),
 (5, 'CA', 'California', 39538223)]