<script>
    function findAncestor (el, name) {
        while ((el = el.parentElement) && el.nodeName.toLowerCase() !== name);
        return el;
    }
    function colorAll(el, textColor) {
        el.style.color = textColor;
        Array.from(el.children).forEach((e) => {colorAll(e, textColor);});
    }
    function setBackgroundImage(src, textColor) {
        var section = findAncestor(document.currentScript, "section");
        if (section) {
            section.setAttribute("data-background-image", src);
			if (textColor) colorAll(section, textColor);
        }
    }
</script>

<style>
h1 {
  border: 1.5px solid #333;
  padding: 8px 12px;
  background-image: linear-gradient(#2774AE,#ebf8e1, #FFD100);
  position: static;
}
</style>

<h1 style='color:white'> Statistics 21 <br/> Python & Other Technologies for Data Science </h1>

<h3 style='color:white'>Vivian Lew, PhD - Monday, Week 4</h3>

<script>
    setBackgroundImage("Window1.jpg");
</script>

## A final aspect of lists: LIST COMPREHENSION

- List comprehension is a concise and powerful way to create a new list from an existing iterable (list, tuple, range -- and strings). 

- We define a new list by specifying a condition, expression, or loop that applies to each element of the original iterable.

- basic syntax for list comprehension:

new_list = [expression `for` item `in` iterable `if` condition]

new_list = [expression `for` item `in` iterable `if` condition]

- expression is an operation or function that is to be applied to each item in the iterable, and also it produces a new value for the resulting list (new_list)  
- item is a variable that represents each element of the iterable. Name it anything you want.
- iterable is the original sequence, list, or other iterable object that you want to use to create the new list.
- condition (totally optional) used to filter which elements from the iterable are to be included in the new list.

### Example

I am using list comprehension to create a new list of squares of the first 10 positive integers:

In [1]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

compare with:

In [2]:
squares = []
for x in range(1, 11):
    squares.append(x**2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### One more example

using the totally optional condition:

In [3]:
squares = [dog**2 for dog in range(1, 101) if dog % 10 == 0]
print(squares)

[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

# The Tuple

- Tuples are a built-in data structure like the list.

- Tuples order their elements, just like lists so we access a tuple's elements by indexing and slicing.

- The elements in a tuple cannot be changed, added, or removed once the tuple is created. Immutability makes tuples great for ensuring that data remains constant throughout the program.

- Tuples can store elements of different data types, such as integers, strings, lists and other objects.

- Tuples are creating using parentheses () with elements separated by commas -BUT- the parentheses are optional, and we can create a tuple just by separating elements with commas.

### Example

Parentheses are not required to create a tuple

In [4]:
t = 0, 'apple', 2, 'cat', 'dog', 5, 6

In [5]:
t

(0, 'apple', 2, 'cat', 'dog', 5, 6)

But you *can* use parentheses

In [6]:
t = (0, 'apple', 2, 'cat', 'dog', 5, 6)

In [7]:
t

(0, 'apple', 2, 'cat', 'dog', 5, 6)

### You can create a tuple with one value by having a trailing comma

In [8]:
t1 = "a",

In [9]:
t1

('a',)

In [10]:
type(t1)

tuple

In [11]:
len(t1)

1

### BUT using parentheses without a comma will not work

In [12]:
t2 = ("a")

In [13]:
type(t2)

str

In [14]:
t2 = ("a",)

In [15]:
type(t2)

tuple

### You can create empty tuples

In [16]:
t3 = tuple()

In [17]:
t3

()

In [18]:
t3a = ()
t3a

()

But you cannot create an empty tuple of specified length

### You can use the `tuple()` function to turn other iterables into tuples.

In [19]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

In [20]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [21]:
tuple([1,4,7])

(1, 4, 7)

### Tuples and Lists

- Some list operatorions also work on tuples:
    * Indexing elements
    * Slicing
- But only index and count among the list methods

### Indexing/Slicing tuples

In [22]:
t = 0, 'apple', 2, 'cat', 'dog', 5, 6

In [23]:
t[1]

'apple'

In [24]:
t[2:5] # slicing

(2, 'cat', 'dog')

## Unpacking example

Unpacking a tuple is understood to mean assigning each of its elements directly to variables

In [25]:
# Create a tuple
car = ('Bolt', 27495, 'Chevrolet')

# Accessing elements using indexing
model = car[0]  # 'Bolt'
msrp = car[1]   # 27495
make = car[2]  # 'Chevrolet'

# Unpacking the tuple
model, msrp, make = car

# Printing the unpacked variables
print(f"Make: {make}, Name: {model}, Price: ${msrp:,}")

Make: Chevrolet, Name: Bolt, Price: $27,495

## What are tuples good for?

- Assigning multiple values  
- Returning multiple values in a function  
- Storing unchangeable constant or fixed data 
- Serving as dictionary keys (more on this later)

### Tuples are immutable. They cannot be modified.

List are mutable and can be modified

In [26]:
t = (0,'apple',2,'cat','dog',5,6) # tuple
l = [0,'apple',2,'cat','dog',5,6] # list

In [27]:
l[0] = 100  # we can change the value of the object at index 0
print(l)

[100, 'apple', 2, 'cat', 'dog', 5, 6]

In [28]:
t[0] = 100  # trying to modify the value in a tuple is not allowed

TypeError: 'tuple' object does not support item assignment

### methods that modify lists in place (e.g. append, insert, pop, etc) do not work for tuples

In [29]:
l.append('x')
print(l)

[100, 'apple', 2, 'cat', 'dog', 5, 6, 'x']

In [30]:
t.append('x')

AttributeError: 'tuple' object has no attribute 'append'

### Because tuples are immutable, you can't modify the elements. 
### But you can replace one tuple with another tuple:

In [31]:
t = ("A",) + t[1:]
t

('A', 'apple', 2, 'cat', 'dog', 5, 6)

#### This creates an entirely new tuple, unrelated to the other one.

### The relational operators and tuples

Python starts by comparing the ﬁrst element from each sequence. 

If they are equal, it goes on to the next element, and so on, until it ﬁnds elements that differ. 

Subsequent elements are not considered (even if they are different or larger).

In [32]:
(0, 1, 2) < (0, 3, 4)

True

In [33]:
(0, 1, 2000000) < (0, 3, 4)

True

In [34]:
(0, 500, 2) < (0, 3, 4)

False

In [35]:
tuple("abc") <= tuple("abcd") # try some others

True

### Tuple assignment

A common and useful tuple idiom: You can switch value assignments using tuples

In [36]:
# old option without tuples
a = 5
b = 1

temp = a
a = b
b = temp
print(a, b)

1 5

In [37]:
# faster with tuples
a = 5
b = 1

b, a = a, b
print(a, b)

1 5

You can take the results of a function and have the returned values assign to different elements in a tuple

In [38]:
addr = "statchair@stat.ucla.edu"
addr.split("@") # string.split() normally returns two elements in a list

['statchair', 'stat.ucla.edu']

In [39]:
addr = "statchair@stat.ucla.edu"
uname, domain = addr.split("@") # we can assign the results of str.split() to a tuple

In [40]:
uname

'statchair'

In [41]:
domain

'stat.ucla.edu'

We saw this when we talked about functions. You can have functions return multiple values in the form of a tuple

In [42]:
def my_divide(x, y):
    integer = x // y
    remainder = x % y
    return integer, remainder

In [43]:
a, b = my_divide(23, 5)

In [44]:
a, b

(4, 3)

In [45]:
divmod(23, 5)  # divmod() is a built-in function that does exactly this.

(4, 3)

### Tuple Methods

tuples only support two methods: `tuple.index()` and `tuple.count()` which return information about contents of the tuple but do not modify them

In [46]:
t = 0, 'apple', 2, 'cat', 'dog', 5, 6

In [47]:
t.index('dog')

4

In [48]:
t.count(5)

1

## Functions that support tuples and other iterables as inputs

Even though tuples only have two methods, there are several functions that support tuples (and other iterables like lists, dicts, strings) as inputs

- `len()`
- `sum()`
- `sorted()`
- `min()`
- `max()`

None of these functions affect the list or tuple itself.

In [49]:
some_digits = (4,2,7,9,2,5,3)  # a tuple of numbers
some_words = ['dog','apple','cat','hat','hand']  # this is a list

In [50]:
len(some_digits)

7

In [51]:
sum(some_digits)

32

In [52]:
sum(some_words) # won't work on strings

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [53]:
sorted(some_digits)  # sorts the tuple, but does not affect the list or tuple itself.
# contrast to list.sort() which will sort the list in place
# but the object returned is a list

[2, 2, 3, 4, 5, 7, 9]

In [54]:
print(some_digits)  # just to show the list is unchanged

(4, 2, 7, 9, 2, 5, 3)

In [55]:
sorted(some_words) # when applied to a list of strings, it will alphabetize them

['apple', 'cat', 'dog', 'hand', 'hat']

In [56]:
min(some_digits)

2

In [57]:
print(min(some_words))
print(max(some_words))  # max returns the last word in an alphabetized list
# min will return the first in an alphabetized list

apple
hat

In [58]:
dict_num = {1: "a", 2: "b", 3: "c"}
dict_alpha = {"a":1, "b":2, "c":3}

In [59]:
len(dict_num) # number of items in the dictionary

3

In [60]:
sorted(dict_num) # a list of the keys sorted

[1, 2, 3]

In [61]:
sorted(dict_alpha)

['a', 'b', 'c']

In [62]:
max(dict_num) # the "maximum" key

3

## Math operators and lists, tuples, strings

- multiplication generally duplicates

- addition generally appends

behavior across lists, tuples, and strings are similar

In [63]:
L1 = ['a','b','c']
L2 = ['d','e','f']

In [64]:
L1 * 2 # multiplication extends duplicates

['a', 'b', 'c', 'a', 'b', 'c']

In [65]:
L1 + L2 # addition appends list objects

['a', 'b', 'c', 'd', 'e', 'f']

In [66]:
T1 = ('a','b','c')
T2 = ('d','e','f')

In [67]:
T1 * 2

('a', 'b', 'c', 'a', 'b', 'c')

In [68]:
T1 + T2

('a', 'b', 'c', 'd', 'e', 'f')

In [69]:
L1 + T2 # fails. you cannot add list and tuple

TypeError: can only concatenate list (not "tuple") to list

In [70]:
L1 + list(T2) # but you can easily convert a tuple to a list first

['a', 'b', 'c', 'd', 'e', 'f']

### Variable-length argument tuples

Functions can take a variable number of arguments. A parameter name that begins with `*` gathers arguments into a tuple. 

The gather parameter can have any name you like, but args is conventional.

In [71]:
def printall(args):
    print(args)

In [72]:
printall(1, 3.0, 5, "hi")

TypeError: printall() takes 1 positional argument but 4 were given

In [73]:
def printall(*args):
    print(args)

In [74]:
printall(1, 3.0, 5, "hi")

(1, 3.0, 5, 'hi')

In [75]:
def print_lines(*args):
    for element in args:
        print(element)

In [76]:
print_lines("hi", "goodbye")

hi
goodbye

In [77]:
print_lines(1, 5, 7, 9, 10)

1
5
7
9
10

The complement of gather is scatter. If you have a sequence of values and you want to pass it to a function as multiple arguments, you can use the `*` operator.

For example, the `my_divide` function from earlier takes exactly two arguments; it doesn’t work with a tuple:

In [78]:
def my_divide(x, y):
    integer = x // y
    remainder = x % y
    return integer, remainder

In [79]:
t = (23, 5) # passing a tuple is wrong here

In [80]:
my_divide(t)

TypeError: my_divide() missing 1 required positional argument: 'y'

In [81]:
my_divide(*t) # add the * for flexibility

(4, 3)

## Zipping Lists, Tuples and other iterables

`zip()` is a built-in function that takes two or more sequences and interleaves their corresponding elements. The name of the function refers to a zipper, which interleaves two rows of teeth.

In [82]:
s = 'abc'
t = 0, 1, 2
zip(s, t)

In [83]:
for pairs in zip(s, t):
    print(pairs)

('a', 0)
('b', 1)
('c', 2)

A zip object is a kind of iterator, which is any object that iterates through a sequence.
Iterators are similar to lists in some ways, but unlike lists, iterators do not support indexing.

If you want, you can put the zip object inside a list.

It will return a list of tuples

In [84]:
list(zip(s,t))

[('a', 0), ('b', 1), ('c', 2)]

If the sequences are not the same length, the result has the length of the shorter one.

In [85]:
list(zip("Anne" , "Elk" ))

[('A', 'E'), ('n', 'l'), ('n', 'k')]

If you have a list of tuples, you can iterate over them by unpacking the elements.

In [86]:
t = [('a', 0), ('b', 1), ('c', 2)]
for letter, number in t:
    print(number, letter)

0 a
1 b
2 c

## Zipping multiple iterables

You can zip more than two iterables together. Zip will create tuples with all of the items interwoven.

In [87]:
iterable1 = "abcde"
iterable2 = range(5)
iterable3 = ["apple","banana","coconut","date","elderberry"]
iterable4 = (2,3,5,7,11)
x = zip(iterable1, iterable2, iterable3, iterable4)

In [88]:
list(x)

[('a', 0, 'apple', 2),
 ('b', 1, 'banana', 3),
 ('c', 2, 'coconut', 5),
 ('d', 3, 'date', 7),
 ('e', 4, 'elderberry', 11)]

A useful snippet of code that will traverse two iterables and see if there both share a certain element in the same position.

In [89]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False

In [90]:
has_match(('a', 'b', 'c'), ('d', 'e', 'f'))

False

In [91]:
has_match(('a', 'b', 'c'), ('d', 'e', 'c'))

True

In [92]:
has_match(('a', 'b', 'c', 'd'), ('d', 'c', 'b', 'a'))

False

### `enumerate()`

The built-in function enumerate is useful. It takes an iterable and returns an iterator of the index paired with the elements
You can think of `enumerate()` as zipping a range object of the same length with the iterable.

In [93]:
enumerate("morning")

In [94]:
for index, value in enumerate("morning"):
    print(index, value)

0 m
1 o
2 r
3 n
4 i
5 n
6 g

### Some applications

by using enumerate() inside a list comprehension to iterate over the blood_sugar list, keeping track of the index and blood_sugar simultaneously. We can filter the indices based on the condition that the blood_sugar exceeds the threshold.

In [95]:
blood_sugar = [85, 90, 178, 112, 88, 125, 155, 289]
diabetes_threshold = 126

# pairing a list comprehension with enumerate()
above_threshold_indices = [index for index, bs in enumerate(blood_sugar) if bs > diabetes_threshold]

print(above_threshold_indices)  # Output: [2, 6, 7]

[2, 6, 7]

### Other uses

- By zipping a range and a list we create a data structure that stores both the index and the value of each element in a new list.

- If we have multiple lists where the elements at the same positions are related, zip() can combine them into tuples that store the related elements together.

- zip() can be used as input to create a dictionary (next lecture), where one iterable represents the keys and the other iterable represents the values.

In [96]:
list(zip(range(1,5),['a','b','c','d'], ["alpha", "bravo", "charlie", "delta"]))  # zipping a range object with a list

[(1, 'a', 'alpha'), (2, 'b', 'bravo'), (3, 'c', 'charlie'), (4, 'd', 'delta')]

<h1> Statistics 21 <br/> Have a good night! </h1>

<script>
    setBackgroundImage("Window1.jpg", "black");
</script>